html,
body {
	height: 100vh;
}

html {
	cursor: url('../img/circle.cur'), auto;
	overflow: hidden;
}

body {
	font-family: 'Syne', sans-serif;
	background: linear-gradient(#273F3B, #000);
}

.container {
	margin: 0;
	min-width: 100%;
	display: contents;
}

.carousel-container {
	padding-left: 0;
	padding-right: 0;
	height: 100vh;
	display: flex;
	align-items: center;
}

@media screen and (max-width:767px) {

	/*　画面サイズが767px以下の場合読み込む　*/
	.carousel-container {
		width: 100vh !important;
	}

	#carousel-text{
		font-size: 45px;
		font-weight: 700;
		margin-top: 75px;
		z-index: 100;
		position:absolute;
		top: 70%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	#myCarousel {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.carousel-item img {
		height: 100vh;
		object-fit: cover;
	}

	#texts {
		display: none !important;
	}

}

@media screen and (min-width:768px) {
	/* 画面サイズが768px以上の場合読み込む */

	#carousel-text{
		display: none;
	}

	#myCarousel {
		height: 100%;
		max-width: 60%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.carousel-item img {
		height: 100vh;
		object-fit: cover;
	}

	.carousel {
		margin-right: 20px;
	}

	#texts {
		color: white;
		padding-left: 20px;
		height: 100vh;
		flex: 1;
	}

	.menu-group {
		margin-top: 150px;
	}

	.click-group {
		margin-top: 10px;
	}

	p#menu-text {
		padding-top: 110px;
		font-size: 35px;
		font-weight: 500;
		margin-right: 20px;
	}

	p#click-text {
		font-size: 35px;
		font-weight: 500;
	}

	p#welcome-text {
		margin-bottom: 100px;
		font-size: 55px;
		font-weight: 700;
	}
}