html{
	height: 100vh;
	cursor: url('../img/circle.cur'), auto;
}
body {
	font-family: 'Syne', sans-serif;
	font-size: 2rem;
	background: linear-gradient(#273F3B, #000);
}

h1 {
	margin-top: 50px !important;
	margin-bottom: 30px;
	font-size: 100px;
	font-weight: 800;
}

p{
	text-align: center;
	font-family: 'Noto sans JP';
	font-size: 30px;
	color: white;
}

.hover {
	position: relative;
	width: 376px;
	height: 458px;
	margin: 30px;
}

.hover .hover-img {
	margin: 0;
	padding: 0;
}

.hover-img img {
	width: 376px;
	height: 458px;
	border-radius: 6px;
}

.hover .hover-text {
	position: absolute;
	width: fit-content;
	height: 100%;
	padding: 55px;
	top: 0;
	left: 0;
	color: #fff;
	border-radius: 6px;
	background-color: rgba(0, 0, 0, 0.80);
	/*透明にして表示させない*/
	opacity: 0;
	/*ホバーの動き方*/
	transition: .3s ease-in-out;
}

.hover .hover-text .text1 {
	font-size: 20px;
	padding: 30;
}

/*ホバーエフェクト*/
.hover:hover .hover-text {
	/*不透明にして表示*/
	opacity: 1;
}

.summary p{
	margin-top: 30px;
	margin-bottom: 0px;
	font-size: 24px;
}