html {
	cursor: url('../img/cursor.cur'), auto;
	min-height: 100vh;
}

body {
	font-family: 'Syne', sans-serif;
	background: linear-gradient(#273F3B, #000);
}

h1 {
	margin-top: 50px !important;
	margin-bottom: 30px;
	font-size: 100px;
	font-weight: 800;
}

p {
	text-align: center;
	font-family: 'Noto sans JP';
	font-size: 30px;
	color: white;
}

.hover {
	position: relative;
	width: 376px;
	height: 458px;
	margin: 30px;
}

.hover .hover-img {
	margin: 0;
	padding: 0;
}

.hover-img img {
	width: 376px;
	height: 458px;
	border-radius: 6px;
}

.hover .hover-text {
	position: absolute;
	width: fit-content;
	height: 100%;
	padding: 55px;
	top: 0;
	left: 0;
	color: #fff;
	border-radius: 6px;
	background-color: rgba(0, 0, 0, 0.80);
	/*透明にして表示させない*/
	opacity: 0;
	/*ホバーの動き方*/
	transition: .3s ease-in-out;
}

.hover .hover-text .text1 {
	font-size: 20px;
	padding: 30;
}

/*ホバーエフェクト*/
.hover:hover .hover-text {
	/*不透明にして表示*/
	opacity: 1;
}

.summary p {
	margin-top: 30px;
	margin-bottom: 0px;
	font-size: 24px;
}

@media screen and (max-width:767px) {
	/*　画面サイズが767px以下の場合読み込む　*/

	h1 {
		font-size: 40px;
	}

	p {
		font-size: 16px !important;
		font-weight: 700;
	}

	.myInterests {
		flex-direction: column;
		align-items: center;
	}

	.hover {
		position: relative;
		width: 300px;
		height: 346px;
		margin: 15px 0;
	}

	.hover .hover-text .text1 {
		font-size: 20px;
	}

	.hover-img img {
		width: 300px;
		height: 346px;
		border-radius: 6px;
	}

	.hover .hover-text {
		position: absolute;
		width: 300px;
		height: 346px;
		padding: 55px 0px;
	}

	.summary p {
		margin-top: 15px;
		margin-bottom: 30px;
	}

	.tap-me {
		height: 47px;
		width: 47px;
		font-family: 'Syne';
		font-weight: 800;
		font-size: 13px;
		position: absolute;
		top: 3px;
		left: 3px;
		border-radius: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: white;
		z-index: 1;
	}

	.hover:hover .tap-me {
		/*透明にして非表示*/
		opacity: 0;
	}
}

@media screen and (min-width:768px) and (max-width:1440px) {
	
	.myInterests{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}

@media screen and (min-width:1441px) {

	/* 画面サイズが768px以上の場合読み込む */
	.hover .hover-text .text1 {
		font-size: 20px;
	}

	.myInterests {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	}
	
	.tap-me {
		display: none;
	}
}