.menu {
	position: absolute;
	width: auto;
	height: auto;
	padding: 0;
	margin: 0;
	right: 0;
	top: 0;
	z-index: 9998;
}

.menu button {
	padding: 0px;
	border-radius: 0 0 0 10px;
}

.btn-icon {
	width: 144px;
	height: 144px;
}

.btn-icon i {
	font-size: 100px;
	border-radius: 10px;
}

.modal-header,
.modal-body,
.modal-footer {
	border: none;
	background-color: #101A19;
}

.modal-header {
	font-size: 100px;
	color: white;
}

.modal-footer {
	display: none;
}

.modal-body a {
	color: white;
	font-family: 'Syne';
	font-weight: 800;
	text-decoration: none;
	position: relative;
}

.modal-body a::before {
	transform: scaleX(0);
	transform-origin: bottom left;
}

.modal-body a:hover::before {
	transform: scaleX(1);
	transform-origin: bottom right;
}

.modal-body a::before {
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	inset: 0 0 0 0;
	background: #000;
	z-index: -1;
	transition: transform .3s ease;
}

@media screen and (max-width:767px) {
	/*　画面サイズが767px以下の場合読み込む　*/

	.menu>button {
		width: 85px;
		height: 85px;
		align-items: center;
		justify-content: center;
	}

	.btn-icon i {
		height: auto;
		font-size: 60px;
	}

	.modal-header button {
		font-size: 60px;
	}

	.modal-body a {
		font-size: 40px;
		margin: 15px;
	}

}

@media screen and (min-width:768px) {
	/* 画面サイズが768px以上の場合読み込む */

	.modal-body a {
		font-size: 100px;
	}
}