html {
  cursor: url('../img/cursor.cur'), auto;
}

body {
  min-height: 100vh;
  font-family: 'Syne', sans-serif;
  background: linear-gradient(#273F3B, #000);
}

h1 {
  margin-top: 50px !important;
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 100px;
  color: white;
  text-align: center;
}

.policy {
  font-family: 'Noto sans JP';
  margin-bottom: 50px;
}

.accordion-item {
  padding: 0;
  width: 600px;
  display: table-cell;
  vertical-align: middle;
}

.accordion-body {
  font-family: 'Noto sans JP';
  font-weight: 400;
  font-size: 20px;
  padding: 0 10px;
  overflow: hidden;
}

.accordion-item h2 button {
  text-decoration: none;
  font-size: 30px;
  font-family: 'Noto sans JP';
  color: black;
  padding: 0;
  border-radius: 0;
  box-shadow: none !important;
}

.accordion-button {
  display: table-cell;
  vertical-align: middle;
}

.accordion-button::after,
.accordion-button:not(.collapsed)::after {
  background-image: none !important;
}

.accordion-item h2 button.collapsed {
  box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
  color: black;
  background: transparent;
  border: none;
}

@media screen and (max-width:767px) {

  /*　画面サイズが767px以下の場合読み込む　*/
  h1 {
    font-size: 40px;
  }

  .policy {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0px;
  }

  .row .accordion .accordion-item {
    margin-top: 30px !important;
  }

  .accordion-item .accordion-body {
    padding-top: 30px;
  }

  .accordion-item h2 button {
    font-size: 20px;
  }

  #myaccordionFlush .accordion-item {
    font-size: 40px;
    border-top: 18px solid white;
    border-bottom: 18px solid white;
    border-left: 30px solid white;
    border-right: 30px solid white;
    border-radius: 100px;
  }

  .accordion-collapse.collapse.show {
    padding-bottom: 30px;
  }

  .myaccordion>div {
    padding-top: 30px;
  }
}

@media screen and (min-width:768px) {

  /* 画面サイズが768px以上の場合読み込む */

  .policy {
    font-size: 30px;
    font-weight: 500;
  }

  .accordion-item .accordion-body {
    padding-top: 61px;
  }

  #myaccordionFlush .accordion-item {
    font-size: 40px;
    border-top: 30px solid white;
    border-bottom: 30px solid white;
    border-left: 51px solid white;
    border-right: 50px solid white;
    border-radius: 100px;
  }

  .accordion-collapse.collapse.show {
    border-bottom: 30px solid white;
  }
}