html {
  cursor: url('../img/cursor.cur'), auto;
}

body {
  min-height: 100vh;
  font-family: 'Syne', sans-serif;
  background: linear-gradient(#273F3B, #000);
}

h1 {
  margin-top: 50px !important;
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 100px;
  color: white;
  text-align: center;
}

.policy {
  color: white;
  text-align: center;
  font-family: 'Noto sans JP';
  margin-bottom: 50px;
}

.panels-row {
  display: flex;
  justify-content: center;
}

.panels {
  font-family: 'Noto sans JP';
}

.panel-header {
  width: 600px;
  height: 104px;
  cursor: pointer;
  background-image: url('../img/assets/kadomarubutton.png');
  /* ヘッダーのデフォルトの背景画像 */
}

.panel-header>p {
  height: 104px !important;
  font-size: 30px;
  font-weight: 500;
  text-overflow: clip;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel-content>p {
  font-family: 'Noto sans JP';
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 30px;
}

#panel-one,
#panel-two {
  display: none;
}

#panel-one.open,
#panel-two.open {
  display: block;
  /* クリックで開くときに表示 */
  padding-top: 61px;
  padding-left: 51px;
  padding-right: 50px;
  padding-bottom: 60px;
}

#panel-one.open {
  width: 600px !important;
  height: 462px !important;
  background-image: url('../img/assets/kadomarubody1.png');
  /* コンテンツが開いたときの背景画像 */
}

#panel-two.open {
  width: 600px !important;
  height: 532px !important;
  background-image: url('../img/assets/kadomarubody2.png');
  /* コンテンツが開いたときの背景画像 */
}

.panel-header.open {
  height: 52px;
  background-image: url('../img/assets/kadomaruheader.png') !important;
  /* ヘッダーが開いたときの背景画像 */
}

.panel-content {
  background-image: none;
  display: flex;
  /* コンテンツのデフォルトの背景画像 */
}

.modal-open {
  padding-right: 0px !important;
}

@media screen and (max-width:320px) {

  /*　画面サイズが320px以下の場合読み込む　*/

  h1 {
    margin-top: 100px !important;
    font-size: 40px;
    overflow-x: hidden;
  }

  .policy {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0px;
  }

  .panels-row {
    flex-direction: column;
  }

  .panels {
    padding: 0;
  }

  .panels:first-child>div {
    margin-top: 30px;
  }

  .panel-header>p {
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 20px;
    height: 64px !important;
  }

  .panel-content>p {
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 30px;
  }

  .panel-header {
    width: 300px;
    height: 64px;
    cursor: pointer;
    background-image: url('../img/assets/mb-kadomarubutton.png');
    /* ヘッダーのデフォルトの背景画像 */
  }

  .panel-header.open {
    height: 32px;
    background-image: url('../img/assets/mb-kadomaruheader.png') !important;
    /* ヘッダーが開いたときの背景画像 */
  }

  #panel-one.panel-content.open {
    height: 483px !important;
    background-image: url('../img/assets/mb-kadomarubody1.png');
    /* コンテンツが開いたときの背景画像 */
  }

  #panel-two.panel-content.open {
    height: 603px !important;
    background-image: url('../img/assets/mb-kadomarubody2.png');
    /* コンテンツが開いたときの背景画像 */
  }

  #panel-one.open,
  #panel-two.open {
    width: 300px !important;
    font-weight: 400;
    padding: 0;
  }
}

@media screen and (min-width:321px) and (max-width:768px) {

  /*　画面サイズが321px以上768px以下の場合読み込む　*/
  h1 {
    margin-top: 100px !important;
    font-size: 40px;
    overflow-x: hidden;
  }

  .policy {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0px;
  }

  .panels-row {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .panels:first-child>div {
    margin-top: 30px;
  }

  .panel-container {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
  }

  .panel-header>p {
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 20px;
    height: 64px !important;
  }

  .panel-content>p {
    font-size: 16px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 30px;
  }

  .panel-header {
    width: 300px;
    height: 64px;
    cursor: pointer;
    background-image: url('../img/assets/mb-kadomarubutton.png');
    /* ヘッダーのデフォルトの背景画像 */
  }

  .panel-header.open {
    height: 32px;
    background-image: url('../img/assets/mb-kadomaruheader.png') !important;
    /* ヘッダーが開いたときの背景画像 */
  }

  #panel-one.open {
    width: 300px !important;
    height: 483px !important;
    background-image: url('../img/assets/mb-kadomarubody1.png');
    /* コンテンツが開いたときの背景画像 */
    font-size: 16px;
    font-weight: 400;
  }

  #panel-two.open {
    width: 300px !important;
    height: 603px !important;
    background-image: url('../img/assets/mb-kadomarubody2.png');
    /* コンテンツが開いたときの背景画像 */
    font-size: 16px;
    font-weight: 400;
  }

  #panel-one.open,
  #panel-two.open {
    padding-top: 30px;
    padding-left: 29px;
    padding-right: 30px;
    padding-bottom: 30px;
  }
}

@media screen and (min-width:769px) {

  /* 画面サイズが769px以上の場合読み込む */

  html,
  body {
    overflow: hidden;
  }

  .policy {
    font-size: 30px;
    font-weight: 500;
  }

  .panels {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .panel-container {
    margin-left: 98px;
    margin-right: 98px;
  }

  #panel-one.open,
  #panel-two.open {
    padding-top: 61px;
    padding-left: 51px;
    padding-right: 50px;
    padding-bottom: 60px;
  }
}