html {
	cursor: url('../img/cursor.cur'), auto;
	min-height: 100vh;
	background: black
}

body {
	font-family: 'Syne', sans-serif;
	background: linear-gradient(#273F3B, #000);
}

h1 {
	padding-top: 50px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	font-weight: 800;
}

.profile-texts {
	width: fit-content;
}

img {
	width: 330px !important;
	height: 330px !important;
	border-radius: 50% !important;
	padding: 0 !important;
}

.main-content {
	display: flex;
	align-items: center;
	padding-top: 154px;
	width: auto;
	font-family: 'Noto Sans JP', sans-serif;
}

.past-pc p {
	font-size: 20px;
	text-align: center;
}


.past-one {
	padding-bottom: 40px;
	margin-bottom: 0px;
}

@media screen and (max-width:767px) {

	/*　画面サイズが767px以下の場合読み込む　*/
	html{
		height: 100%;
		overflow: scroll;
	}
	h1 {
		font-size: 40px;
	}

	img {
		width: auto !important;
		height: auto !important;
		padding: 0;
	}

	.main-content {
		padding-top: 30px;
		margin: 0 30px;
		justify-content: center;
		align-items: center;
	}

	.profile-texts {
		padding-top: 30px;
		font-size: 20px;
	}

	.past-pc {
		display: none;
	}

	.past-mb p {
		font-size: 16px;
	}
}

@media screen and (min-width:768px) {
	/* 画面サイズが768px以上の場合読み込む */

	html{
		overflow: hidden;
	}
	h1 {
		font-size: 100px;
	}

	.profile-texts {
		padding-left: 50px;
		font-size: 30px;
	}

	.past-pc {
		width: auto;
	}

	.main-content {
		height: 330px;
		flex-direction: row;
	}

	.past-mb {
		display: none;
	}
}