html {
	cursor: url('../img/cursor.cur'), auto;
	min-height: 100vh;
}

body {
	font-family: 'Syne', sans-serif;
	background: linear-gradient(#273F3B, #000);
}

h1 {
	color: white;
	text-align: center;
	margin-top: 50px !important;
	margin-bottom: 30px;
	font-size: 100px;
	font-weight: 800;
}

p {
	text-align: center;
}

.myrow {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
}

.box-header {
	font-weight: 700;
	font-size: 50px;
	color: white;
}

.box-summary {
	font-family: 'Noto sans JP';
	font-weight: 700;
	font-size: 18px;
	color: white;
}

.box-lang {
	font-family: 'Noto sans JP';
	font-size: 18px;
	color: white;
}

/* アニメーションスタートの遅延時間を決めるCSS*/

.delay-time02 {
	animation-delay: 0.5s;
}

/*==================================================
	スタート時は要素自体を透過0にするためのopacity:0;を指定する
	===================================*/

.box {
	opacity: 0;
	justify-content: center;
}

/*==================================================
	動き自体の指定：今回は「ふわっ」
	===================================*/

.fadeUp {
	animation-name: fadeUpAnime;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	opacity: 0;
}

@keyframes fadeUpAnime {
	from {
		opacity: 0;
		transform: translateY(100px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@media screen and (max-width:767px) {
	/*　画面サイズが767px以下の場合読み込む　*/

	h1 {
		margin-top: 100px !important;
		font-size: 40px;
	}

	.myrow {
		flex-direction: column;
	}

	.box-header {
		font-size: 30px;
	}

	.box-summary,.box-lang {
		justify-content: center;
		font-size: 16px;
		font-weight: 500;
	}
}

@media screen and (min-width:768px) {
	/* 画面サイズが768px以上の場合読み込む */

}