html {
	cursor: url('./assets/img/circle.cur'), auto;
	block-size: 100%;
	inline-size: 100%;
}
body {
	margin: 0;
	padding: 0;
	height: 100vh;
	font-family: 'Syne', sans-serif;
	font-size: 2rem;
	background: linear-gradient(#273F3B, #000);
	overflow: hidden;
}
h1{
	padding-top: 100px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	font-size: 100px;
	font-weight: 800;
}
.profile-texts{
	padding-left: 50px;
	padding-right: 100px;
	margin: 0;
	font-size: 30px;
	width:fit-content;
}
img {
	width: 330px;
	height: 330px;
	border-radius: 50%;
}
.main-content{
	padding-top: 154px;
	padding-left: 10%;
	padding-right: 10%;
	font-family: 'Noto Sans JP', sans-serif;
}
.past{
	font-size: 20px;
	text-align: center;
}
.past-one{
	padding-bottom: 40px;
	margin-bottom: 0px;
}